*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ddd;
    font-size: 18px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    padding: 50px;
}
img{
    width: 100%;
}

/* Navigasi */
.menu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.menu .brand{
    padding: 10px;
    font-size: 1.5em;
    font-family: "Merriweather";
}
.menu-list ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.menu-list li{
    list-style: none;
}
.menu-list a{
    background-color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    text-decoration: none;
    font-size: 1.1em;

}


/* Tutup Navigasi */



/* Buka Services */

.services{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.service{
    padding: 20px;
    letter-spacing: 2px;
    background-color: #eee;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.32);
}

.icon{
    font-size: 2.5em;
}
.service h2{
    font-size: 1.2em;
}
.service p{
    font-size: 0.8em;
}


/* Tutup Services */